@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
///
/// halogenOS.org by Neil Agarwal
/// regalstreak.me | @regalstreak
/// Free for personal and commercial use. (https://github.com/regalstreak/halogenOS.org/)
///
*/

/* Spotlight */

	.spotlight {
		.image {
			width: 25%;
			display: inline-block;
			vertical-align: middle;
		}

		.content {
			width: 65%;
			display: inline-block;
			vertical-align: middle;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		&:nth-child(2n) {
			.image {
				margin: 0 (_size(element-margin) * 1.5) 0 0;
			}

			.content {
				text-align: left;
			}
		}
	}

/* Header */

	#header {
		height: auto;
		text-align: center;

		.content {
			display: inline-block;
			vertical-align: middle;
		}

		.image {
			display: inline-block;
			vertical-align: middle;
		}
	}